server {
    listen 80;
    server_name leehanyeong.xyz www.leehanyeong.xyz wps.parkboyoung.kr;
    charset utf-8;

    # Let's Encrypt
    location /.well-known/acme-challenge/ {
        alias           /srv/instagram/.cert/;
    }
    # .well-known외의 모든 요청을 https로 다시 요청하도록 redirect응답을 보냄
    location / {
        return 301 https://$host$request_uri;
    }
}
server {
    listen 443 ssl;
    server_name leehanyeong.xyz www.leehanyeong.xyz wps.parkboyoung.kr;
    charset utf-8;

    # HTTPS관련 설정
    ssl on;
    ssl_certificate     /etc/letsencrypt/live/wps.parkboyoung.kr/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/wps.parkboyoung.kr/privkey.pem;

    location / {
        # 일반적으로 proxy로 요청을 넘겨 줄 경우 필요한 설정들
        include         /etc/nginx/proxy_params;
        proxy_pass      http://unix:/run/instagram.sock;
    }
    location /static/ {
        alias           /srv/instagram/.static/;
    }
}